:root {
    --default: #1e1a1d;
    --default-lighten:#363435;
    --default-alt:#6a6869;
    --primary:#c2185b;
    --primary-alt:#ff0066;
    --secondary:#448AFF;
    --secondary-lighten:#7cacff;
    // --secondary-alt:#;
    --text:#FFFFFF;
    --text-secondary:#bcb9b9;

    --fats:#FFD740;
    --carbs:var(--secondary);
    --proteins:#FF5722;


  }
  