

.food-description.loading-container {
  height: 4rem;
  margin: 2rem 0 1rem 0;
}
.brand.loading-container {
  height: 2rem;
}
.item-container.loading-container {
  height: 12rem;
  margin: 2rem 0 1rem 0;
}
.button.loading-container{
  height: 3rem;
  width: 15rem;
  margin: 2rem 0 3rem auto;
}
.nutri-info-title.loading-container{
  height: 2rem;
  margin: 2rem 0 1rem 0;
}
.nutri-info-container.loading-container{
  height: 40rem;
}

