<footer>
  <a class="contact" href="https://gmast3rr.github.io/portfolio/"
    ><fa-icon [icon]="faBriefcase"></fa-icon>Portfolio</a
  >
  <a class="contact" href="https://www.linkedin.com/in/lucas-ramallo-ab24a2218/"
    ><fa-icon [icon]="faLinkedin"></fa-icon>Lucas Ramallo</a
  >
  <a class="contact" href="https://github.com/GmasT3rr"
    ><fa-icon [icon]="faGithub"></fa-icon>GmasT3rr
  </a>
  <a class="contact" href="mailto:lucramallo14@gmail.com"
    ><fa-icon [icon]="faEnvelope"></fa-icon>lucramallo14&#64;gmail.com</a
  >
  <a style="margin-top: 0.5rem" href="https://www.fatsecret.com">
    <img
      src="https://platform.fatsecret.com/api/static/images/powered_by_fatsecret.png"
      srcset="
        https://platform.fatsecret.com/api/static/images/powered_by_fatsecret_2x.png 2x,
        https://platform.fatsecret.com/api/static/images/powered_by_fatsecret_3x.png 3x
      "
      border="0"
    />
  </a>
</footer>
